// Feedback Colors

// Error/Red
$color-red-500: var(--color-red-500);
$color-red-500-rgb: var(--color-red-500-rgb);

// Success/Green
$color-green-500: var(--color-green-500);
$color-green-500-rgb: var(--color-green-500-rgb);

// Warning/Yellow
$color-yellow-500: var(--color-yellow-500);
$color-yellow-500-rgb: var(--color-yellow-500-rgb);

// Info/Blue
$color-blue-500: var(--color-blue-500);
$color-blue-500-rgb: var(--color-blue-500-rgb); 