// Primary Colors
$color-primary: var(--color-primary);
$color-primary-dark: var(--color-primary-dark);
$color-primary-light: var(--color-primary-light);
$color-primary-rgb: var(--color-primary-rgb);
$color-primary-dark-rgb: var(--color-primary-dark-rgb);
$color-primary-light-rgb: var(--color-primary-light-rgb); 